# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Spring
application-local.properties
application-local.yml